body {
  background-color: #191919;
  color: white;
}

.gallery-wrap {
  padding: 40px 0;
  gap: 20px;
}

.gallery {
  max-width: 90vw;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.arrow-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  filter: invert(1);
  flex-shrink: 0;
}

.img-fluid {
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.img-fluid:hover {
  transform: scale(1.05);
  cursor: pointer;
}
